{% extends 'base.html' %}

{% block title %}Asignar Alumnos{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h2 class="mb-0">Asignar Alumnos</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <h4>Alumnos Disponibles:</h4>
                        {% with asesor=request.user.asesoreducativo %}
                            {% for inscripcion in asesor.inscripcion_set.all %}
                                {% with alumno=inscripcion.alumno %}
                                    {% if alumno in alumnos_disponibles %}
                                        <input type="checkbox" class="form-check-input" name="alumnos" value="{{ alumno }}" id="alumno{{ alumno.id }}">
                                        <label class="form-check-label" for="alumno{{ alumno.id }}">{{ alumno.usuario.get_full_name }}</label><br />
                                    {% endif %}
                                {% endwith %}
                            {% endfor %}
                        {% endwith %}
                        <button type="submit" class="btn btn-primary btn-block mt-3">Asignar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}